* {
  margin: 0;
  padding: 0;
  font-family: Heeboy, sans-serif;
}
@font-face {
  font-family: Heeboy;
  src: url("./fonts/Heebo/Heebo-VariableFont_wght.ttf");
}
@font-face {
  font-family: Rubik;
  src: url("./fonts/Heebo/Heebo-VariableFont_wght.ttf");
}
.font__rubik {
  font-family: "Rubik";
}
body {
  background: #eaeaea;
}
nav {
  position: relative;
  bottom: 10px;
  background-color: white;
  height: 10.4vh;
  margin-bottom: 6.4vh;
}
/* Navbar Css starts */

.logo {
  display: flex;
  align-items: center;
  margin-left: 120px;
  margin-top: 7px;
  position: relative;
}
.menu {
  display: flex;
  list-style-type: none;
  margin-left: 279px;
  position: relative;
  bottom: 39px;
}
.menu li {
  margin: 0 1.5rem 0 0;
}

.menu a {
  text-decoration: none;
  font-size: 0.775rem;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222;
}
.menu a:hover {
  color: #43d3e5;
}
/* Navbar CSS ends */
/* Main CSS starts */
.contact__us {
  margin: 0 0 2rem 7.5rem;
  color: #000000;
  font-weight: 600;
  font-size: 42px;
  line-height: 130%;
}
.details {
    margin-bottom: 50px;
  position: absolute;
  width: 597px;
  height: 488px;
  left: 120px;
  top: 230px;
  background: #ffffff;
  border-radius: 12px;
}
.info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.twoBlock p {
  margin-top: 51.5px;
  font-weight: bold;
}
.oneBlock p {
  margin-top: 51.5px;
}
.oneBlock {
  color: #4d5f61;
  margin-left: 60px;
}
.twoBlock {
  margin-right: 40px;
}
.lorem {
  margin: 33px 0 0 60px;
  width: 405px;
}
.medias {
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  width: 332px;
  height: 14px;
  margin-top: 9.4vh;
  font-size: 16px;
  text-align: center;
  color: #4d5f61;
}
.whiteCircle {
  margin-left: 12px;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
.whiteCircle img {
  margin-top: 4.5px;
}
/* register section starts */
.reg__section {
  position: relative;
  top: 20px;
  margin-left: 748px;
  width: 519px;
  height: 488px;
  background: #ffffff;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.04);
  border-radius: 18px;
}
.name {
  box-sizing: border-box;
  width: 419px;
  height: 48px;
  background: #f8fbfc;
  border: 1px solid #dbe1e1;
  border-radius: 8px;
}
.phone__number {
  box-sizing: border-box;
  width: 419px;
  height: 48px;
  background: #f8fbfc;
  border: 1px solid #dbe1e1;
  border-radius: 8px;
}
.email__address {
  box-sizing: border-box;
  width: 419px;
  height: 48px;
  background: #f8fbfc;
  border: 1px solid #dbe1e1;
  border-radius: 8px;
}
.input {
    margin-top: 30px;
    margin-left: 50px;
}
.submit {
  color: white;
  border: white;
  width: 419px;
  height: 48px;
  background: #03abbc;
  border-radius: 8px;
}
.submit:hover {
  background-color: #19bbd3;
}
.register {
    position: relative;
    top: 50px;
}
/* register section ends */
/* Map section starts */
.cover__map img{
    margin-top: 50px;
    width: 98.7vw;
}
.metka {
    position: relative;
    top: 310px;
    left:330px;
}
.enviro__logo {
    position: relative;
    bottom: 334px;
    left: 270px;
}
/* Map section ends */
/* Main CSS ends */
/* footer CSS starts */
      footer {
        display: flex;
        justify-content: space-between;
        height: 14.56vh;
        background-color: #19bbd3;
      }
      .arrec {
        margin-top: 6.4vh;
        margin-left: 40vw;
        color: white;
      }
      .medias {
        display: flex;
        flex-wrap: nowrap;
        width: 332px;
        height: 14px;
        margin-top: 6.4vh;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #fff;
      }
      .whiteCircle {
        margin-left: 12px;
        background-color: white;
        width: 24px;
        height: 24px;
        border-radius: 100%;
      }
      .whiteCircle img {
        margin-top: 4.5px;
      }
      /* footer CSS ends */

